name: CI/CD Pipeline
run-name: CI/CD Pipeline
on:
  push:
    branches:
      - "main"

env:
  REACT_APP_BACKEND_API_BASE_URL: ${{ secrets.REACT_APP_BACKEND_API_BASE_URL }}
  AWS_S3_BUCKET_NAME: ${{ secrets.AWS_S3_BUCKET_NAME }}

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Make build
        run: npm run build

      - name: Upload build folder as an artifact
        uses: actions/upload-artifact@v3
        with:
          name: build
          path: ./build

  test:
    needs: build
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Run Tests
        run: npm test -- --coverage

      - name: Upload test coverage folder as an artifact
        uses: actions/upload-artifact@v3
        with:
          name: coverage
          path: ./coverage

  deploy:
    needs: test
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Download artifact "build" folder
        uses: actions/download-artifact@v3
        with:
          name: build
          path: build

      - name: Display structure of build directory
        run: ls -l
        working-directory: build

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Deploy - Sync build folder to the production website with the AWS CLI
        run: |
          aws s3 sync ./build s3://$AWS_S3_BUCKET_NAME
