name: CI/CD Pipeline
run-name: CI/CD Pipeline
on:
  push:
    branches:
      - "main"

env:
  REACT_APP_BACKEND_API_BASE_URL: ${{ secrets.REACT_APP_BACKEND_API_BASE_URL }}

jobs:
  ci-cd:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install dependencies
        run: npm ci

      - name: Make build
        run: npm run build

      - name: Run Tests
        run: npm test

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Deploy - Sync build folder to the production website with the AWS CLI
        run: |
          aws s3 sync ./build s3://pulpe-admin-frontend
